<section id="newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <small class="small-top text-orange">NEWSLETTER</small>
                <h2 class="my-3">Let's Get in touch!</h2>
                <p>Enter your email and become part of our entrepreneurial community. We want to engage with you about your business and opportunities.</p>
                <form action="#" id="newsletter-form">
                    <div class="input-group input-group-lg">
                        <input type="email" id="newsletter-email" class="form-control" placeholder="Enter your email" style="height: 60px;">
                        <button type="submit" class="btn btn-success">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Section -->
<!-- Footer -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-3">

                        <a href="index.html"><img src="../assets/images/logo.png" class="img-fluid" style="width: 150px" alt=""></a>
                        <p class="text-dark mt-3">ScaleUp - It’s amazing! <br> It’s all you need to know</p>

                    </div>
                    <div class="col-md-3">
                        <h6>Useful Links</h6>
                        <ul class="footer-links">
                            <a href="about.html" class="nav-link">About Us</a>
                            <a href="https://biztweak.org.za/Blog/" class="nav-link">Blog</a>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h6>Legal and privacy</h6>
                        
                        <ul class="footer-links">
                            <a target="_blank" href="https://app.termly.io/document/terms-of-use-for-website/bae18684-68a5-4feb-b722-2396bf9b3d07" class="nav-link">Terms of service</a>
                            <a target="_blank" href="https://app.termly.io/document/privacy-policy/6e538943-b793-48ed-876f-bf66701c8e56" class="nav-link">Privacy policy</a>
                            <a target="_blank" href="https://app.termly.io/document/disclaimer/fe8696d1-0ff3-47d6-bdc0-a8eba5fb0466" class="nav-link">Disclosures</a>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h6>Support</h6>
                        
                        <ul class="footer-links">
                            <a href="mailto:hello@biztweak.org.za" class="nav-link">hello@biztweak.org.za</a>
                            <a href="tel:0115689980" class="nav-link">011 568 9980</a>
                        </ul>
                        <div class="social-links">
                            <a target="_blank" href="https://www.facebook.com/biztweaksouthafrica"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/BizTweak"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://instagram.com/biztweaksa"><i class='fab fa-google-plus-g'></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/biztweak/"><i class="fab fa-linkedin"></i></a>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>

</footer>
