<div [@routerTransition]>

  <div class="content d-flex flex-column flex-column-fluid">
   <div class="row">
             <div role="actions">
                 <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>

                 <button *ngIf="isGranted('Pages.Ambulances.Create')" (click)="createAmbulance()"
                                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewAmbulance")}}</button>
             </div>
            </div>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">


        	<div class="my-3">
                <div class="input-group mb-3">
                  <input [(ngModel)]="filterText" name="filterText" autoFocus type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')">
                  <button class="btn btn-primary" type="submit" (click)="getAmbulances()"><i class="flaticon-search-1"></i></button>
                </div>
            </div>

                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">

						     </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         >
                        <p-table #dataTable
                                     (onLazyLoad)="getAmbulances($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="ambulance.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="location">
                                        {{l('Location')}}
                                        <p-sortIcon field="ambulance.location"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="contactPerson">
                                        {{l('ContactPerson')}}
                                        <p-sortIcon field="ambulance.contactPerson"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="ambulanceNumber">
                                        {{l('AmbulanceNumber')}}
                                        <p-sortIcon field="ambulance.ambulanceNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="phoneNo1">
                                        {{l('PhoneNo1')}}
                                        <p-sortIcon field="ambulance.phoneNo1"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="phoneNo2">
                                        {{l('PhoneNo2')}}
                                        <p-sortIcon field="ambulance.phoneNo2"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isApproved">
                                        {{l('isApproved')}}
                                        <p-sortIcon field="ambulance.isApproved"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewAmbulanceModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Ambulances.Edit')" class="dropdown-item"
														(click)="createOrEditAmbulanceModal.show(record.ambulance.id)">{{l('Edit')}}</a>
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.Ambulances.Delete')"
														(click)="deleteAmbulance(record.ambulance)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Name')}}</span>
											{{record.ambulance.name}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Location')}}</span>
											{{record.ambulance.location}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('ContactPerson')}}</span>
											{{record.ambulance.contactPerson}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('AmbulanceNumber')}}</span>
											{{record.ambulance.ambulanceNumber}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('PhoneNo1')}}</span>
											{{record.ambulance.phoneNo1}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('PhoneNo2')}}</span>
											{{record.ambulance.phoneNo2}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('isApproved')}}</span>
                                        <div *ngIf="record.ambulance.isApproved" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
										<div *ngIf="!record.ambulance.isApproved" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>

                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getAmbulances($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount'"
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditAmbulanceModal #createOrEditAmbulanceModal (modalSave)="getAmbulances()"></createOrEditAmbulanceModal>
    <viewAmbulanceModal #viewAmbulanceModal></viewAmbulanceModal>

  </div>
</div>
