<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">

      <a class="navbar-brand logo" style="width: 150px" href="index.html"><img src="../assets/images/logo.png" class="img-fluid" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav ms-auto" style="margin-left: auto!important;">
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="about.html">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-sm-3" href="about.html">Dashboard</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="EntComp">
<section id="profile">
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-4 profile-left mt-5">
             
              <div class="section mt-5">
                  <h6 class="fw-bold mb-3 ">COMPANY</h6>

                  <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-info dotted-border btn-lg col-12 ">
                      <i class="fa fa-plus "></i>
                      Add Company
                  </button>
              </div>
              <div class="accordion">
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                     <div class="COmpanyNameHe" style="margin-left: 50%;">
                      <h4>asmbdf</h4>
                      <h6>sfsd</h6>
                     </div>
                      <div class="small text-start">
                          <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but don't know what to do next</p>
                          <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i>  sdfs</p>
                          <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i>  Admin/Business support</p>
                            <button type="button" class="btn btn-primary" style="background-color: #00C2CB; width: 150px; color: white; margin-bottom: 10px;" ><i class="fa-duotone fa-memo"></i> View Biz Report</button>
                          <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                      </div>
                      </div>
                  </div>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                     <div class="COmpanyNameHe" style="margin-left: 50%;">
                      <h4>asmbdf</h4>
                      <h6>sfsd</h6>
                     </div>
                      <div class="small text-start">
                          <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but don't know what to do next</p>
                          <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i>  sdfs</p>
                          <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i>  Admin/Business support</p>
                            <button type="button" class="btn btn-primary" style="background-color: #00C2CB; width: 200px; color: white; margin-bottom: 10px;" ><i class="fa-duotone fa-memo"></i> Complete Assessment</button>
                          <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                      </div>
                      </div>
                  </div>
                </div>
              </div>

          </div>
          <div class="col-8 mt-5">
            <div class="alert alert-info mt-4">
              <strong><i class="fa fa-info-circle"></i> Next Step!</strong> Complete your Company Assessment.
          </div>
          <div class="card my-3 bg-light">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="https://biztweak.org.za/new/images/company.png" class="img-fluid rounded-circle me-4" alt="" style="height: 80px;width: 80px;">
                    <div>
                        <h4></h4>
                        <p><b>Location:</b> n/a</p>
                        <p><b>Industry:</b> Admin/Business support</p>
                        <p><b>Business phase:</b> I have an idea but don’t know what to do next</p>
                    </div>
                </div>
            </div>
        </div>
              <div class="accordion">
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Ideation
                    </span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                      <p>Do you have a prototype of the solution you are suggesting?</p>
                      <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                        <input type="radio" id="prototype-yes" name="prototype" value="yes">
                        <label for="prototype-yes">Yes</label>
                        <input type="radio" id="prototype-no" name="prototype" value="no">
                        <label for="prototype-no">No</label><br>
                      </div>
                      <p>Do you have the skills required to develop a prototype of the solution?</p>
                      <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                        <input type="radio" id="skills-yes" name="skills" value="yes">
                        <label for="skills-yes">Yes</label>
                        <input type="radio" id="skills-no" name="skills" value="no">
                        <label for="skills-no">No</label><br>
                      </div>
                    </div>
                  
                  
                  </div>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Prototype
                    </span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                    <p>Do you have a prototype of the solution you are suggesting?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="prototype-yes" name="prototype" value="yes">
                      <label for="prototype-yes">Yes</label>
                      <input type="radio" id="prototype-no" name="prototype" value="no">
                      <label for="prototype-no">No</label><br>
                    </div>
                    <p>Do you have the skills required to develop a prototype of the solution?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Functional Capability
                    </span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                    <p>Is there sufficient administration systems in place to help the company's processes??</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="prototype-yes" name="prototype" value="yes">
                      <label for="prototype-yes">Yes</label>
                      <input type="radio" id="prototype-no" name="prototype" value="no">
                      <label for="prototype-no">No</label><br>
                    </div>
                    <p>Is the company’s organizational structure sufficient to support the delivery of products or services offered?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Customer segments
                    </span><span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion-content">
                    <div class="QuesAns">
                    <p>Do you know who your product is for??</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="prototype-yes" name="prototype" value="yes">
                      <label for="prototype-yes">Yes</label>
                      <input type="radio" id="prototype-no" name="prototype" value="no">
                      <label for="prototype-no">No</label><br>
                    </div>
                    <p>Do you know who is your target market/audience?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you know where they are located?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you know the Total market size?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you know how much of your market is accessible?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you know how much of a market is in your region/locality?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you have a profile for your ideal customer?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    <p>Do you know who your most important customers are?</p>
                    <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                      <input type="radio" id="skills-yes" name="skills" value="yes">
                      <label for="skills-yes">Yes</label>
                      <input type="radio" id="skills-no" name="skills" value="no">
                      <label for="skills-no">No</label><br>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Revenue Streams
                  </span><span class="icon" aria-hidden="true"></span></button>
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Value proposition
                  </span><span class="icon" aria-hidden="true"></span></button>
              
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Cost structure
                  </span><span class="icon" aria-hidden="true"></span></button>
                  <!-- <div class="accordion-content">
                   <p>Is there sufficient administration systems in place to help the company's processes?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                   <p>Is the company’s organizational structure sufficient to support the delivery of products or services offered?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                  </div> -->
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Proof of concept
                  </span><span class="icon" aria-hidden="true"></span></button>
                  <!-- <div class="accordion-content">
                   <p>Is there sufficient administration systems in place to help the company's processes?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                   <p>Is the company’s organizational structure sufficient to support the delivery of products or services offered?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                  </div> -->
                </div>
                <div class="accordion-item mb-5">
                  <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Key resources
                  </span><span class="icon" aria-hidden="true"></span></button>
                  <!-- <div class="accordion-content">
                   <p>Is there sufficient administration systems in place to help the company's processes?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                   <p>Is the company’s organizational structure sufficient to support the delivery of products or services offered?</p>
                   <div class="div" style="display: flex; gap: 5px; margin-left: 30px">
                    <input type="radio" id="html" name="fav_language" value="yes">
                   <label for="yes">Yes</label>
                   <input type="radio" id="css" name="fav_language" value="no">
                   <label for="no">No</label><br>
                   </div>
                  </div> -->
                </div>
              </div>
              <div class="buttonsSect mb-5" style="margin-left: 70%;">
                <button type="button" class="btn btn-secondary">Back</button>
                <button type="button" class="btn btn-primary" style="background-color: #00C2CB; width: 70px;" (click)="navigateToCompany()" >Save</button>
              
              </div>
             
          </div>
      </div>
  </div>
</section>
</div>