<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          In Nepal, we need hundreds of blood donations every day. Blood products are used in the treatment of surgical patients, accident victims, cancer patients, and premature babies, just to mention something.

          By donating blood you can save someone’s life! Donate today!
          
          With voluntary blood donations, we can keep the blood stocks high enough to help those in need.
          
          Join one of the fixed blood donation camps mention below, or the pop-up donation centres found from different events. If your company, organization or group of friends wants to donate, please see the instructions on the bottom of the page.
          Can I donate?
Blood donation is open for almost everyone with only a few limitations based on the medical conditions of the blood donor.

You can donate blood once every three months.

Donating person has to apply:
be 18 to 60 years old
weight above 45 kg
have hemoglobin above 12 gm/dl
have blood pressure 110-160 / 70-96 mmHg
not to be pregnant, breastfeeding, and have at least 8 days since the start of the recent menstruation
not having recent use of drugs or strong medicines (people who take strong medicine for a short period will not able to donate blood from one week up to 2 years)
not to had a medical surgery for 2 years
If you have had one of these conditions, you are unfortunately restricted to donating blood but recommended to encourage your family members, friends and loved ones to donate:

cancer, heart diseases, HIV/AIDS, hepatitis B or C, hemophilia and thalassemia, diabetes, liver diseases, Polycythemia Vera, asthma, an endocrine disorder or a hormonal disorder
        </div>
      </div>
    </div>
  </section>
</div>
