<button type="button" class="btn btn-primary mt-2  mb-2" (click)="openModalWithClass(template)" style="margin-left: 85%;" > <i class="fas fa-plus"></i>&nbsp; Create Ambulance</button>
<div class="card-body">
  <div class="table-responsive">
      <table class="table table-striped table-bordered">
          <thead class="bg-light">
          <tr>
              <th>{{ "UserName"  }}</th>
              <th>{{ "FullName"  }}</th>
              <th>{{ "EmailAddress"  }}</th>
              <th>{{ "IsActive"  }}</th>
              <th style="width: 310px;">{{ "Actions"}}</th>
          </tr>
          </thead>
          <tbody>
          <tr
          >
              <td>userName }}</td>
              <td>fullName }}</td>
              <td>emailAddress }}</td>
              <td>
                  <div class="custom-control custom-checkbox">
                      <input
                              type="checkbox"
                              class="custom-control-input"
                              disabled
                             
                      />
                      <!-- [checked]="user.isActive" -->
                      <label class="custom-control-label"></label>
                  </div>
              </td>
              <td>
                  <!-- <button
                          type="button"
                          class="btn btn-sm bg-secondary"
                          (click)="edit(template, items.id)"
                  >
                      <i class="fas fa-pencil-alt"></i>
                      {{ "Edit" }}
                  </button> -->
                  <button
                          type="button"
                          class="btn btn-sm bg-danger mx-2"
                          (click)="delete()"
                  >
                      <i class="fas fa-trash"></i>
                      {{ "Delete" }}
                  </button>
                 
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>



<br>
 
<ng-template #template>
  <div class="modal-header border-0">
    <h4 class="modal-title pull-left">Create Ambulance</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off">
      <div class="row my-4">
        <div class="col-md-4">
          <label for="name"> Name</label>
        </div>
        <div class="col-md-8">
          <input placeholder="Enter your  name..." name="name"  id="name" 
          type="text" value="" class="form-control"
          formControlName="name">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <label>Is Approved?</label>
        </div>
        <div class="col-md-8 gap-5">
          <label>Yes &nbsp; 
            <input formControlName="isApproved" name="registered" type="radio" class="radio" value="true" (change)="updateOptionSelected(form.get('isApproved'), true)">
          </label> &nbsp;
          <label>No &nbsp;
            <input formControlName="isApproved" name="registered" type="radio" class="radio" value="false" (change)="updateOptionSelected(form.get('isApproved'), false)">
          </label>
        </div>
      </div>



      <div class="row my-4">
        <div class="col-md-4">
          <label>Location</label>
        </div>
        <div class="col-md-8">
          <input placeholder="Company physical address..." name="location" type="text" value="" class="form-control"
          formControlName="location">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <label>Contact Person</label>
        </div>
        <div class="col-md-8">
          <input placeholder="Contact Person Name" name="contactPerson" type="text" value="" class="form-control"
          formControlName="contactPerson">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <label for="ambulanceNumber">Ambulance Number</label>
        </div>

        <div class="col-md-8">
          <input placeholder="Ambulance Number..." name="ambulanceNumber"  id="ambulanceNumber" 
          type="number" value="" class="form-control"
          formControlName="ambulanceNumber">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <label for="phoneNo1">Phone No1</label>
        </div>
        <div class="col-md-8">
          <input placeholder="Phone Number 1" name="phoneNo1"  id="phoneNo1" 
          type="number" value="" class="form-control"
          formControlName="phoneNo1">
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-4">
          <label for="phoneNo2">Phone No2</label>
        </div>
        <div class="col-md-8">
          <input placeholder="Phone Number 2" name="phoneNo2"  id="phoneNo2" 
          type="number" value="" class="form-control"
          formControlName="phoneNo2">
        </div>
      </div>
   
   
    <div class="row my-4">
      <div class="buttons" style="margin-left: 80%;">
        <button class="btn btn-info text-white" (click)="Back()">Back</button>
        <button class="btn btn-info text-white" (click)="save()" style="margin-left: 10px;">Save</button>
      </div>
    </div>
    
    </form>
    {{this.form.getRawValue()|json}}
  </div>
</ng-template>