@import"https://fonts.googleapis.com/css2?family=Alfa+Slab+One&amp;display=swap";
@import"https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&amp;display=swap";
:root {
    --orange-color: #FD9F00;
    --primary-color: #00C2CB;
    --dark-primary-color: #00a9b1;
    --light-primary-color: #F1FEFF;
    --text-color: #606060;
    --heading-color: #1D293F;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --border-color: #F5F5F5;
    --green-color: #34BC85;
    --light-bg: #F6FBFB;
    --grey-bg: #85878F;
    --light-grey-bg: #E5E5E5
}

.btnR {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 18px;
    font-size: 16px;
    cursor: pointer;
  }
  .regis {
    border-color: #00c2cb;
    color: #00c2cb;
  }
  .regis:hover {
    background-color: #00c2cb;
    color: white;
  }
  
.cp {
    cursor: pointer
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--text-color)
}

button {
    font-family: "Open Sans", sans-serif
}

bizcolumn {
    float: left;
    width: 25%;
    padding: 0 10px
}

bizrow {
    margin: 0 -5px
}

bizrow:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width: 600px) {
    bizcolumn {
        width: 100%;
        display: block;
        margin-bottom: 20px
    }
}

bizcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1
}

.list-group li.list-group-item,
.list-group a.list-group-item-action {
    background: var(--light-primary-color)
}

.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 14px 24px
}

.btn2 {
    font-size: 14px;
    margin-top: auto;
    font-weight: 500;
    border-radius: 20px;
    padding: 14px 24px
}

.btn3 {
    font-size: 14px;
    margin-top: auto;
    font-weight: 500;
    padding: 14px 24px
}

#html-show {
    display: none
}

h1,
h2 {
    font-family: "Alfa Slab One", cursive;
    font-size: 80px;
    color: #1d293f
}

h1 span {
    background: #fd9f00
}

h2 span {
    background: var(--orange-color)
}

h2 {
    font-size: 38px
}

section,
footer {
    position: relative;
    padding: 80px 0;
    color: #000
}

footer .item .copy-right {
    margin-top: 30px
}

footer .item .copy-right p {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px
}

footer .item .copy-right p a {
    color: #02a9b1
}

.text-orange {
    color: #fd9f00
}

.small-top {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px
}

.btn-rounded {
    border-radius: 32px
}

a {
    text-decoration: none
}

.btn-outline-info {
    color: #00c2cb !important;
    border-color: #00c2cb !important
}

.bg-primary {
    background: #00c2cb !important
}

.btn-outline-info:hover {
    color: #fff !important;
    background: #00c2cb !important
}

.btn-info {
    color: #fff !important;
    background: #00c2cb !important;
    border-color: #00c2cb !important
}

.top-buffer {
    margin-top: 20px
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    border-color: var(--dark-primary-color) !important;
    background: var(--dark-primary-color) !important
}

.btn-info2 {
    color: var(--white-color) !important;
    background: #00c2cb !important
}

.btn-info2:hover,
.btn-info2:focus,
.btn-info2:active {
    border-color: var(--dark-primary-color) !important;
    background: var(--dark-primary-color) !important
}

.text-info {
    color: #00c2cb !important
}

.btn-success {
    background-color: #34bc85;
    border-color: #34bc85
}

.bg-danger-light {
    background: #ffeaea !important;
    color: #ff2e2e
}

.bg-success-light {
    background: #e9f9ee !important;
    color: #129f3a
}

.bg-primary-light {
    background: var(--light-primary-color)
}

nav.navbar {
    border-bottom: 1px solid #f5f5f5
    
}
.navbar-nav .nav-link {
    text-decoration: none;
    border: none;
  }
nav.navbar .navbar-nav li a.nav-link {
    color: #1d293f;
    font-size: 15px;
    font-weight: 500
}

.btn-login {
    font-weight: 600;
    border-width: 3px
}

.dotted-border {
    border-style: dashed
}

#hero .hero-img {
    transform: scale(1.3)
}

#impact {
    background: var(--light-bg)
}

#impact .row .impact {
    border-radius: 32px;
    background: var(--white-color);
    text-align: center;
    padding: 80px 40px
}

#impact .row .impact img {
    height: 80px;
    width: 80px
}

#impact .row .impact.main {
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0px 11px 13px 1px rgba(88, 88, 88, .1490196078)
}

#impact .row .impact h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px
}

#impact .row .impact p {
    font-size: 15px;
    margin-top: 20px
}

#impact .row .move-up {
    margin-top: -15px
}

#about {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center
}

#newsletter {
    background-image: url("../../assets/images/newsletter-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center
}

#newsletter-form .input-group input {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    font-size: 14px;
    padding: 18px
}

#newsletter-form .input-group button {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    font-size: 14px;
    padding: 18px
}

section#auth {
    background: var(--light-grey-bg)
}

#auth .input-group {
    background: #f6f6f6
}

#auth .input-group .input-group-text {
    background-color: rgba(0, 0, 0, 0);
    border-right: 0;
    color: var(--text-color);
    font-weight: 600;
    border-color: #f6f6f6;
    font-size: 16px
}

#auth .input-group input.form-control::-moz-placeholder {
    background-color: rgba(0, 0, 0, 0);
    border-left: 0;
    color: var(--text-color);
    border-color: #f6f6f6;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important
}

#auth .input-group input.form-control,
#auth .input-group input.form-control::placeholder {
    background-color: rgba(0, 0, 0, 0);
    border-left: 0;
    color: var(--text-color);
    border-color: #f6f6f6;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important
}

#profile .avatar {
    position: relative;
    width: 150px;
    margin: 0 auto;
    text-align: center
}

#profile .avatar::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) matrix(-1, 0, 0, 1, 0, 0);
    width: 140px;
    height: 140px;
    z-index: -1;
    border: 6px solid #ddd
}

@keyframes growProgressBar {
    0% {
        --pgPercentage: 0
    }
    100% {
        --pgPercentage: var(--value)
    }
}

@property --pgPercentage {
    syntax: "<number>";
    inherits: false;
    initial-value: 0
}

div[role=progressbar] {
    margin: 0 auto;
    --size: 140px;
    --bg: #f6f6f6;
    --pgPercentage: var(--value);
    animation: growProgressBar 2s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side, white 94%, transparent 0 99.9%, white 0), conic-gradient(#00C2CB calc(var(--pgPercentage) * 1%), transparent 0)
}

#profile .avatar img {
    height: 125px;
    width: 125px;
    border-radius: 50%
}

#profile .avatar form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    border: 3px solid #fff
}

#profile {
    padding: 0;
    border-top: 3px solid #f9f9f9;
    border-bottom: 3px solid #f9f9f9;
    border-color: #fcfdfd
}

#profile .profile-left {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    border-right: 4px solid #f1f1f1
}

.question {
    margin-bottom: 20px
}

.accordion-button {
    padding: 0;
    background-color: var(--light-primary-color);
    padding-left: 20px
}

.recommendations .accordion-button {
    padding: 14px
}

.recommendations .accordion-body p {
    text-align: center;
    font-size: 14px
}

.accordion-button::after {
    background-color: #00c2cb;
    width: 3rem;
    height: 3rem;
    background-position: center
}

.accordion-button:not(.collapsed) {
    color: var(--black-color);
    background-color: var(--light-primary-color);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .13)
}

.accordion-body {
    background: #fcfcfc
}

footer h6 {
    font-weight: bold;
    color: #1d293f;
    margin-bottom: 20px
}

footer .footer-links {
    list-style: none;
    padding-left: 0
}

footer .footer-links a {
    font-size: 15px;
    color: var(--text-color);
    padding: 0;
    margin-bottom: 10px
}

footer .social-links a {
    display: inline-block;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    background: #00a9b1;
    border-radius: 50%;
    text-align: center;
    line-height: 2.3;
    color: #fff;
    font-size: 15px
}

.biz-rating {
    border-top: 5px solid #f9f9f9;
    border-bottom: 5px solid #f9f9f9
}

.bars {
    border-bottom: 5px solid #f9f9f9
}

.bars .col-md-6:first-of-type {
    border-right: 5px solid #f9f9f9
}

.recommendations .accordion-button::after {
    background-color: #d1d1d1;
    width: 35px;
    height: 35px;
    background-position: center;
    border-radius: 50%
}

.stripes {
    background-color: #00c2cb;
    background-image: url("../../assets/images/ornament.png")
}

footer .social-links a:hover {
    background: #34bc85
}

footer .social-links a:last-of-type {
    margin-right: 0
}

label.bg-white {
    position: relative
}

.priority::before {
    content: "priority";
    position: absolute;
    font-size: 12px;
    transform: rotateZ(90deg) translateX(-20%);
    top: 50%;
    right: -16px;
    text-transform: uppercase
}

.priority {
    padding: 20px;
    line-height: 1.5;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-weight: bold
}

@media screen and (max-width: 768px) {
    #hero .hero-img {
        transform: scale(1)
    }
    section,
    footer {
        padding: 40px 0
    }
    h1 {
        font-size: 42px
    }
    p {
        font-size: 13px
    }
    #hero .hero-img {
        position: static;
        width: 80%;
        margin-bottom: 20px
    }
    #impact .row .move-up {
        margin-top: auto
    }
    #impact .row .impact,
    #impact .row .impact.main {
        box-shadow: none;
        margin-bottom: 20px;
        padding: 40px
    }
    #newsletter {
        background-size: cover;
        background-position: left
    }
}
@media screen and (max-width: 536px) {
    #hero .hero-img {
        width: 100%
    }
    h1 {
        font-size: 34px
    }
}

