<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container-fluid">

        <a class="navbar-brand logo" style="width: 150px" href="index.html"><img src="../assets/images/logo.png" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto" style="margin-left: auto!important;">
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="#">About Us</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info btn-login px-5 py-2" routerLink="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
                    <button class="btnR regis" (click)="NavigateToReg()" >Register</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Header -->
<!-- Hero Section -->
<section id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <h1>Take a <br> <span>BizTweak</span> <br> Assessment.
                </h1>
                <p>BizTweak aims to help make entrepreneurship easier,<br class="d-none d-md-block"> by helping you spot gaps in your business or business idea.</p>
                <a href="login.html" class="btn btn-lg btn-info text-white">Take Free Assessment</a>

            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="../assets/images/hero-main.png" class="img-fluid hero-img" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
<section id="impact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <small class="text-orange small-top">FEATURES</small>
                <h2>The Impact of biztweak</h2>
                <p>After completing the assessment you will get a business health report that will give you recommendations on</p>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-12 impact">
                            <img src="../assets/images/icons/idea.png" alt="" class="img-fluid">
                            <h3>Business Idea Validation</h3>
                            <p>Find out if your business or business idea is viable, and if not what to do about it.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 impact main">
                            <img src="../assets/images/icons/investor.png" alt="" class="img-fluid">
                            <h3>Investor Readiness</h3>
                            <p class="px-md-3">Score the readiness of your business or business idea for funding or investment.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 impact">
                            <img src="../assets/images/icons/customers.png" alt="" class="img-fluid">
                            <h3>Customers and Revenue</h3>
                            <p>Score your methods to find customers, and how you generate revenue for your business or business idea.</p>
                        </div>
                    </div>
                    <div class="col-md-4 move-up">
                        <div class="col-12 impact">
                            <img src="../assets/images/icons/viability.png" alt="" class="img-fluid">
                            <h3>Market Viability</h3>
                            <p>Finding out and scoring the market readiness of your business or business idea.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 mt-md-4 impact">
                            <img src="../assets/images/icons/scalbitily.png" alt="" class="img-fluid">
                            <h3>Business Scalability</h3>
                            <p>Whether your business or business idea can grow in scale.</p>
                        </div>
                    </div>
                    <div class="col-md-4 move-up">
                        <div class="col-12 impact">
                            <img src="../assets/images/icons/employee.png" alt="" class="img-fluid">
                            <h3>Score Your Systems</h3>
                            <p>Score system and processes to manage employees in your business and business idea.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center text-md-start order-2 order-md-1">
                <div class="row">
                    <small class="small-top text-orange">ABOUT US</small>
                    <h2>Entrepreneurship should be easier.</h2>
                </div>
                <div class="row top-buffer">
                    <h6>Being an entrepreneur is a hard and interesting journey for sure, and starting a business can be even hard, especially when you dont know what you don't know about your business and business idea. Not knowing the right information
                        at the right time has caused failure in many businesses, BizTweak aims to change that. Get Started Now.</h6>
                </div>
                <div class="top-buffer">
                    <a href="login.html" class="btn2 btn-lg btn-info2 text-white">TAKE FREE ASSESSMENT</a>
                </div>
            </div>
            <div class="col-md-5 order-2 order-md-1">
                <img src="../assets/images/about.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

