<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand logo" style="width: 150px" href="index.html"><img src="../assets/images/logo.png"
        class="img-fluid" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto" style="margin-left: auto!important;">
        <li class="nav-item">
          <a class="nav-link px-sm-3" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-sm-3" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-sm-3" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-sm-3" href="#">Courses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="EntComp">
  <section id="profile">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4 profile-left mt-5">

          <div class="section mt-5">
            <h6 class="fw-bold mb-3 ">COMPANY</h6>

            <button data-toggle="modal" data-target="#exampleModalCenter"
              class="btn btn-outline-info dotted-border btn-lg col-12 ">
              <i class="fa fa-plus "></i>
              Add Company
            </button>
          </div>
          <div class="accordion">
            <div class="accordion-item mb-5">
              <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span
                  class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <div class="QuesAns">
                  <div class="COmpanyNameHe">
                    <h2 class="small text-center mb-0">sdfds</h2>
                    <div class="text-center">
                      <small>Details</small>
                  </div>
                  <hr>
                  </div>
                  <div class="small text-start">
                    <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but
                      don't know what to do next</p>
                    <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i> sdfs</p>
                    <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i> Admin/Business support
                    </p>
                    <button type="button" class="btn btn-primary"
                      style="background-color: #00C2CB; width: 150px; color: white; margin-bottom: 10px;"><i
                        class="fa-duotone fa-memo"></i> View Biz Report</button>
                    <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item mb-5">
              <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span
                  class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <div class="QuesAns">
                  <div class="COmpanyNameHe">
                    <h2 class="small text-center mb-0">sdfds</h2>
                    <div class="text-center">
                      <small>Details</small>
                  </div>
                  <hr>
                  </div>
                  <div class="small text-start">
                    <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but
                      don't know what to do next</p>
                    <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i> sdfs</p>
                    <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i> Admin/Business support
                    </p>
                    <button type="button" class="btn btn-primary"
                      style="background-color: #00C2CB; width: 200px; color: white; margin-bottom: 10px;"><i
                        class="fa-duotone fa-memo"></i> Complete Assessment</button>
                    <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-8 mt-5">
          <div class="card shadow-sm">

            <div class="card-body">
              <div class="alert alert-success mt-4">
                <strong><i class="fa fa-check"></i> SUCCESS!</strong> Company Assessment Completed.
              </div>
              <div class="alert alert-info mt-4">
                <strong><i class="fa fa-info-circle"></i> Next Step!</strong> Complete your Company Profile.
              </div>
              <h4 class="mt-3">Complete Company Profile</h4>
              <form [formGroup]="form" autocomplete="off">
                <div class="row my-4">
                  <div class="col-md-4">
                    <label>Company Name</label>
                  </div>
                  <div class="col-md-8">
                    <input placeholder="Company name..." name="name" type="text" value="" class="form-control"
                      formArrayName="name">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4">
                      <label>Company Logo</label>
                  </div>
                  <div class="col-md-8">
                      <input name="image" type="file" class="form-control">
                                                              </div>
              </div>
              <div class="row my-4">
                <div class="col-md-4">
                    <label>Is your company registered?</label>
                </div>
                <div class="col-md-8 gap-5">
                    <label>Yes &nbsp; <input name="registered" type="radio" value="1" class="radio"></label> &nbsp;
                    <label>No &nbsp;<input name="registered" type="radio" value="0" checked="" class="radio"></label>
                </div>
            </div>
                <div class="row my-4">
                  <div class="col-md-4">
                    <label>Company Location</label>
                  </div>
                  <div class="col-md-8">
                    <input placeholder="Company physical address..." name="location" type="text" value="" class="form-control"
                      formArrayName="location">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4">
                    <label>Number of employees</label>
                  </div>
                  <div class="col-md-8">
                    <input placeholder="Number of employees at your company...." name="employees" type="text" value="" class="form-control"
                      formArrayName="employees">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4">
                    <label>Annual Turnover</label>
                  </div>
                  <div class="col-md-8">
                    <input placeholder="What is your yearly turnover" name="annualTurnover" type="number" value="" class="form-control"
                      formArrayName="annualTurnover">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4">
                    <label>Monthly Turnover (Over 6 months)</label>
                  </div>
                  <div class="col-md-8">
                    <input placeholder="What was your monthly turnover in the past 6 months..." name="monthlyTurnover" type="number" value="" class="form-control"
                      formArrayName="monthlyTurnover">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-4">
                      <label>Products/Services</label>
                  </div>
                  <div class="col-md-8">
                      <textarea id="offering" placeholder="What products or services is your company offering?" name="offering" cols="50" rows="10" class="form-control"></textarea>
                  </div>
              </div>
             
              <div class="row my-4">
                <div class="col-12 text-end">
                    <button class="btn btn-outline-info text-white">Back</button>
                    <button class="btn btn-info text-white" (click)="navigateToHealthReport()">Save</button>
                </div>
            </div>
              </form>
            </div>

          </div>




        </div>
      </div>
    </div>
  </section>
</div>