<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="https://www.biztweak.org.za/new/images/add-company.png" alt="" class="col-md-6 img-fluid">
                </div>
                <h5>Add new company</h5>
                <form action="https://www.biztweak.org.za/87/save-company-new" method="POST">
                    <input type="hidden" name="_token" value="zjHDvuevdCAUlKDc9k5bWIU504pLzQcrGdo4O2Po">
                    <div class="form-group my-3">
                        <div class="col-auto">
                            <div class="form-floating">
                                <select class="form-select" id="industry" name="industry">
                                    <option value="Admin/Business support">Admin/Business support</option>
                                    <option value="Agriculture, Forestry,Fishing and Hunting">Agriculture, Forestry,Fishing and Hunting</option>
                                    <option value="Arts, Entertainment and Recreation">Arts, Entertainment and Recreation</option>
                                    <option value="Constrution">Constrution</option>
                                    <option value="Education">Education</option>
                                    <option value="Finance and Insurance">Finance and Insurance</option>
                                    <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
                                    <option value="Hospitality">Hospitality</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Manufacturing">Manufacturing</option>
                                    <option value="Mining and Mineral processing">Mining and Mineral processing</option>
                                    <option value="Professional, Scientific and Technical Services">Professional, Scientific and Technical Services</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Transport and Logistics">Transport and Logistics</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="industry" class="form-label">Business industry</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <div class="col-auto">
                            <div class="form-floating">
                                <select class="form-select" id="biz_phase" name="biz_phase">
                                    <option value="phase_i">I have an idea but don’t know what to do next</option>
                                    <option value="phase_ii">I have a business but am not making money</option>
                                    <option value="phase_iii">I have products/services but I have poor sales</option>
                                    <option value="phase_iv">We are generating revenue, we would like to grow through investment</option>
                                    <option value="phase_v">I would like to be an entrepreneur but don’t know where to start</option>
                                </select>
                                <label for="biz_phase" class="form-label">Business phase</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white" routerLink="/complete-company">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>