<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container-fluid">

        <a class="navbar-brand logo" style="width: 150px" href="index.html"><img src="../assets/images/logo.png" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto" style="margin-left: auto!important;">
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="about.html">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-sm-3" href="about.html">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="EntComp">
  <section id="profile">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 profile-left">
               
                <!-- <div class="profile">
                    <img src="../../../assets/images/image.png" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="index.html">John Smith 💯</a></h1>
                </div>
                <hr style="border: 1px solid #85878F;">
                <ul class="list-group mt-3">

                    <li class="top-buffer">
                        <div class="accordion-item">
                            <div id="collapse268" class="accordion-collapse collapse show " aria-labelledby="heading268 " data-bs-parent="#assessment-accordion ">
                                <div class="accordion-body">
                                    <div class="small text-start">
                                        <p><i class="fa fa-envelope me-3" style="margin-right: 1rem!important;"></i> johnsmith@gmail.com</p>
                                        <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i> N/A</p>
                                        <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i> 2009 MA in English Literature Harvard University, Cambridge, MA 3.7 GPA</p>
                                        <p><i class="fa fa-bar-chart me-3" style="margin-right: 1rem!important;"></i> <span class="protective">Protective</span> <span class="protective ml-2">information architecture</span></p>
                                        <p class="ml-4"> <span class="protective">Visual</span> <span class="protective ml-2">Protective</span> <span class="protective ml-2">Protective</span> </p>
                                    </div>
                                    <div style="text-align: center;" class="mt-3">
                                        <strong><a class="fw-bold mb-3" style="color: #00C2CB !important;">Complete Profile <span style="color: #6A707E !important;">(80%)</span></a></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> -->
                <div class="section mt-5">
                    <h4 class="fw-bold mb-3 ">COMPANY</h4>

                    <button data-toggle="modal" data-target="#exampleModalCenter" (click)="openModal(template)" class="btn btn-outline-info dotted-border btn-lg col-12 ">
                        <i class="fa fa-plus "></i>
                        Add Company
                    </button>
                </div>
        
               
                    <div class="accordion">
                      <div class="accordion-item mb-5">
                        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                           <div class="COmpanyNameHe" style="margin-left: 50%;">
                            <h4>asmbdf</h4>
                            <h6>sfsd</h6>
                           </div>
                            <div class="small text-start">
                                <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but don't know what to do next</p>
                                <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i>  sdfs</p>
                                <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i>  Admin/Business support</p>
                                <p><span class="protective"> <i class="fa-duotone fa-memo"></i>&nbsp; View Biz Report</span> 
                                <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                            </div>
                        </div>
                      </div>
                      <div class="accordion-item mb-5">
                        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">SDFDS</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                           <div class="COmpanyNameHe" style="margin-left: 50%;">
                            <h4>asmbdf</h4>
                            <h6>sfsd</h6>
                           </div>
                            <div class="small text-start">
                                <p><i class="fa-duotone fa-info  me-3" style="margin-right: 1rem!important;"></i>I have an idea but don't know what to do next</p>
                                <p><i class="fa fa-map-marker me-3" style="margin-right: 1rem!important;"></i>  sdfs</p>
                                <p><i class="fa fa-briefcase me-3" style="margin-right: 1rem!important;"></i>  Admin/Business support</p>
                                <p><span class="protective"> <i class="fa-duotone fa-memo"></i>&nbsp; View Biz Report</span> 
                                <!-- <p class="ml-4">  <span class="protective ml-2">Protective</span> </p> -->
                            </div>
                        </div>
                      </div>
                    </div>
           

            </div>
            <div class="col-8">
                <div class="imagesCompany">
                    <img src="../../../../assets/images/company.png" alt="">
                </div>
            <div class="addCompany">
                <button (click)="openModal(template)" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-info dotted-border btn-lg col-4 mt-5 ml-5">
                    <i class="fa fa-plus "></i>
                    Add Company
                </button>
            </div>
           <div class="Desc mt-3">
            After completing the assessment you will get <br>  a business health report that will give you <br> recommendations on
           </div>
            </div>
        </div>
    </div>
</section>
</div>
<ng-template #template>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" (click)="hideModel()" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 90%;">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="https://www.biztweak.org.za/new/images/add-company.png" alt="" class="col-md-6 img-fluid">
                </div>
                <h5>Add new company</h5>
                <form>
                    <input type="hidden" name="_token" value="zjHDvuevdCAUlKDc9k5bWIU504pLzQcrGdo4O2Po">
                    <div class="form-group my-3">
                        <div class="col-auto">
                            <div class="form-floating">
                                <select class="form-select" id="industry" name="industry">
                                    <option value="Admin/Business support">Admin/Business support</option>
                                    <option value="Agriculture, Forestry,Fishing and Hunting">Agriculture, Forestry,Fishing and Hunting</option>
                                    <option value="Arts, Entertainment and Recreation">Arts, Entertainment and Recreation</option>
                                    <option value="Constrution">Constrution</option>
                                    <option value="Education">Education</option>
                                    <option value="Finance and Insurance">Finance and Insurance</option>
                                    <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
                                    <option value="Hospitality">Hospitality</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Manufacturing">Manufacturing</option>
                                    <option value="Mining and Mineral processing">Mining and Mineral processing</option>
                                    <option value="Professional, Scientific and Technical Services">Professional, Scientific and Technical Services</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Transport and Logistics">Transport and Logistics</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="industry" class="form-label">Business industry</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <div class="col-auto">
                            <div class="form-floating">
                                <select class="form-select" id="biz_phase" name="biz_phase">
                                    <option value="phase_i">I have an idea but don’t know what to do next</option>
                                    <option value="phase_ii">I have a business but am not making money</option>
                                    <option value="phase_iii">I have products/services but I have poor sales</option>
                                    <option value="phase_iv">We are generating revenue, we would like to grow through investment</option>
                                    <option value="phase_v">I would like to be an entrepreneur but don’t know where to start</option>
                                </select>
                                <label for="biz_phase" class="form-label">Business phase</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white" (click)="NavigateToAssessmant()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>